<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<test name="TestBookCart" thread-count="5" parallel="classes">
		<classes>
			<class name="net.bookcart.app.runner.LoginTestRunner"/>
			<class name="net.bookcart.app.runner.AddProductTestRunner"/>
		</classes>

	</test>
</suite>